.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

/* responsive css start */
@media (min-width: 1140px) {
  :root {
    --container-width: 1040px;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-width: 1150px;
  }
}

@media (min-width: 1350px) {
  :root {
    --container-width: 1250px;
  }
}

@media (min-width: 1440px) {
  :root {
    --container-width: 1350px;
  }
}

@media (min-width: 1600px) {
  :root {
    --container-width: 1550px;
  }
}
